body {
	margin: 0;
	font-family: sans-serif;
}

#Background-picture {
	overflow: hidden;
	display: block;
	background-image: url("river.jpg");
	background-size: 100% 100%;
	height: 100vh;
	width: 100%;
}

#Background-picture h1{
	position: relative;
	top: 40%;
	text-align: center;
	font-size: 3.4em;
	color: white;
	text-shadow: 0px 0px 5px 0px black;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

nav ul {
	width: 100%;
	list-style-type: none;
	overflow: hidden;
	margin: 0;
	padding: 0;
	background-color: rgba(65, 91, 104, 0.6);
}

nav li {
	float: left;
}

nav a {
	color: white;
	font-size: 1.3em;
	display: block;
	text-decoration: none;
	padding: 20px;
}

nav a:hover {
	background-color: rgba(0, 169, 255, 0.8);
}

.flags {
	float: right;
}

.flags a {
	padding: 15px;
}

.flags img {
	height: 29px;
	width: 51px;
}

.text {
	margin: 20px 0 20px 0;
	padding: 20px 20% 20px 20%;
	overflow: hidden;
	width: 60%;
}

.text h2 {
	font-size: 2.4em;
}

.text p {
	font-size: 1.9em;
}

footer {
	margin: 20px auto 0 auto;
	background-color: #0a2b60;
	overflow: hidden;
	text-align: center;
	color: #ffffff;
	/*
	margin: 4vh auto 4vh auto;
	padding: 10px;
	background-color: lightgrey;
	text-align: center;
	box-shadow: 0.3vh 0.3vh 0.3vh 0.3vh grey;
	border-radius: 5px;
	width: 65%;
	*/
}
