body {
	margin: 0;
	font-family: sans-serif;
	background-color: #E2E4E9;
}

#Background-picture {
	overflow: hidden;
	display: block;
	width: 100%;
}

#Background-picture img {
	display: block;
	width: 100%;
}

#Background-picture #wrapper {
	position: absolute;
	left: 50%;
	top: 40%;
	width: 400px;
	padding: 20px;
	background-color: rgba(0, 0, 0, 0.7);
}

#Background-picture h1 {
	margin: 10px 0 0 0;
	text-align: center;
	font-size: 2.4em;
	color: white;
}

#Background-picture p {
	margin: 20px 0 10px 0;
	text-align: center;
	color: white;
}

nav {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

nav ul {
	width: 100%;
	list-style-type: none;
	overflow: hidden;
	margin: 0;
	padding: 0;
	background-color: #434445;
}

nav li {
	float: left;
}

nav a {
	color: white;
	font-size: 1.3em;
	display: block;
	text-decoration: none;
	padding: 20px;
}

nav a:hover {
	background-color: rgba(47, 47, 47, .7);
}

.flags {
	float: right;
}

.flags a {
	padding: 15px;
	border-right: none;
}

.flags img {
	height: 29px;
	width: 51px;
}

.text {
	margin: 0;
	padding: 20px 20% 0 20%;
	overflow: hidden;
	width: 60%;
}

.text h2 {
	font-size: 2.4em;
}

.text p {
	font-size: 1.9em;
}

#problem {
	text-align: center;
	font-size: 1.6em;
	padding: 1% 20% 1% 20%;
}

#problem > #link {
	font-size: 0.700em;
}

#problem a {
	color: #000;
	font-size: 1.4em;
}

.problems {
	float: left;
	margin: 0;
	padding: 0;
	display: block;
	margin-right: 60px;
	width: 300px;
}

.problems:last-child {
	margin-right: 0;
}

.problems h3 {
	text-align: center;
}

.problems p {
	text-align: center;
	line-height: 150%;
}

.problems img {
	display: block;
	height: 200px;
	width: 200px;
	margin: auto;
}

#innerContainer {
	color: white;
	padding: 30px;
	display: block;
	margin: 20px auto 0 auto;
	width: 1026px;
	overflow: hidden;
	/*border: 2px solid black;
	border-radius: 10px;*/
}

#concept-link {
	margin: 0;
	text-align: center;
	font-size: 1.4em;
}

#concept-link a {
	color: white;
}

.container-colored{
	background-color: rgba(0,0,0,0.7);
	width: 100%;
	margin-top: 80px;
	padding-bottom: 20px;
	padding-top: 20px;
}

.container-white{
	width: 100%;
	margin-top: 80px;
	padding-bottom: 20px;
	padding-top: 20px
}
.container{
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	padding-left: 40px;
	padding-right: 40px;
}
.container h2{
	font-size: 40px;
}
.container p{
	font-size: 20px;
	padding-bottom: 20px;
}
.container-colored .container p{
	color: #E2E4E9;
	font-size: 20px;
	padding-bottom: 20px;
}
.container-colored .container h2{
	color: #E2E4E9;
	font-size: 40px;
}
#ikon4{
	height: 350px;
	float: right;
	margin-left: 50px;
}
#ikon5 {
	width: 50%;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

#tyv-illustrasjon {
	height: 300px;
	float: right;
	margin-top: -100px;
	margin-left: 50px;
}

@media screen and (max-width: 1100px) {
	#Background-picture #wrapper {
		left: 0;
		top: 0;
		padding: 20px 0px 20px 0px;
		width: 100vw;
		position: relative;
	}

	#Background-picture #wrapper p {
		margin-right: 30px;
		margin-left: 30px;
	}

	#Background-picture {
		width: 100%;
	}

	#Background-picture img {
		width: 1100px;
		margin: 0;
	}

	#innerContainer {
		width: 400px;
		margin: auto;
	}

	.problems {
		margin-right: 0;
		margin-bottom: 60px;
		float: none;
		width: 400px;
		margin: 0;
	}

	.problems:last-child {
		margin-bottom: 0;
	}
}

@media screen and (max-width: 650px), (max-height: 400px) {
	nav {
		position: absolute;
	}

	nav li, .flags {
		float: none;
	}

	nav a {
		padding: 10px
	}

	.flags img {
		height: 20px;
		width: 37px;
	}

	.flags a {
		padding: 9px;
		padding-left: 10px;
	}

	.container-white:first-child {
		margin-top: 200px;
	}

	#Background-picture #wrapper {
		left: 0;
		top: 0;
		width: 100vw;
		position: relative;
	}

	#wrapper-problem, #wrapper-konsept {
		margin-top: 240px;
	}
}

@media screen and (max-width: 460px) {

	nav {
		width: 460px;
	}

	#Background-picture {
		width: 460px;
	}

	#Background-picture #wrapper {
		width: 460px;
	}

	#Background-picture img {
		width: 460px;
	}

	#container {
		width: 460px;
	}

	#innerContainer {
		margin: 0;
	}
}
