body {
	margin: 0;
	font-family: sans-serif;
	background-color: #E2E4E9;
}

nav { /* Navigation bar container */
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

nav ul { /* Navigation bar */
	width: 100%;
	list-style-type: none;
	overflow: hidden;
	margin: 0;
	padding: 0;
	background-color: #434445;
}

nav li { /* Individual links in the navigation bar */
	float: left;
}

nav a { /* Links in the navigation bar */
	color: white;
	font-size: 1.3em;
	display: block;
	text-decoration: none;
	padding: 20px;
}

nav a:hover { /* Links in the navigation bar when hovered over */
	background-color: #323334;
}

nav a.current { /* Link to page currently on */
	background-color: #222222;
}

.flags { /* Link to site in different language */
	float: right;
}

.flags a { /* Link to site in different language */
	padding: 15px;
	border-right: none;
}

.flags img { /* Images used for link to site in different language */
	height: 29px;
	width: 51px;
}

#frontpage-picture { /* Container for the frontpage picture and the elements within it */
	overflow: hidden;
	display: block;
	width: 100%;
}

#frontpage-picture img { /* Frontpage picture */
	display: block;
	width: 100%;
}

#frontpage-picture #wrapper { /* Container for text within frontpage picture container */
	position: absolute;
	left: 50%;
	top: 40%;
	width: 400px;
	padding: 20px;
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 1px;
}

#frontpage-picture h1 { /* Header within the frontpage picture container */
	margin: 10px 0 0 0;
	text-align: center;
	font-size: 2.4em;
	color: white;
}

#frontpage-picture p { /* Paragraphs within the frontpage picture container */
	margin: 20px 0 10px 0;
	text-align: center;
	color: white;
}

#problem { /* Container for problem text on the front page */
	text-align: center;
	font-size: 1.6em;
	padding: 1% 10% 1% 10%;
}

#problem > #link { /* Link in the probem text on the front page */
	font-size: 0.700em;
}

#problem a { /* Link in the problem text on the front page */
	color: black;
	font-size: 1.4em;
}

.problems { /* Containers for the text on the bottom of the front page */
	float: left;
	margin: 0;
	padding: 0;
	display: block;
	margin-right: 60px;
	width: 300px;
}

.problems:last-child { /* The last container for the text on the bottom of the front page */
	margin-right: 0;
}

.problems h3 { /* The headers within the containers for the text on the bottom of the front page */
	text-align: center;
}

.problems p { /* The paragraphs within the containers for the text on the bottom of the front page */
	text-align: center;
	line-height: 150%;
}

.problems img { /* The images within the containers for the text on the bottom of the front page */
	display: block;
	height: 200px;
	width: 200px;
	margin: auto;
}

#innerContainer { /* The container surrounding the containers for the text on the bottom of the front page */
	color: white;
	padding: 30px;
	display: block;
	margin: 20px auto 0 auto;
	width: 1026px;
	overflow: hidden;
}

#concept-link { /* Link at the bottom of the front page */
	margin: 0;
	text-align: center;
	font-size: 1.4em;
}

#concept-link a { /* Link at the bottom of the front page */
	color: white;
}

.container-colored { /* Grey containers */
	background-color: #434445;
	width: 100%;
	margin-top: 80px;
	padding-bottom: 20px;
	padding-top: 20px;
}

.container-white { /* White containers */
	width: 100%;
	margin-top: 80px;
	padding-bottom: 20px;
	padding-top: 20px
}

.container { /* Inner containers */
	word-wrap: break-word;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	padding-left: 40px;
	padding-right: 40px;
}

.container h2 { /* Headers within containers */
	font-size: 40px;
}

.container p { /* Paragraphs within containers */
	font-size: 20px;
	padding-bottom: 20px;
}

.container-colored .container p { /* Pagagraphs within containers within colored containers */
	color: #E2E4E9;
	font-size: 20px;
	padding-bottom: 20px;
}

.container-colored .container h2 { /* Headers within containers within colored containers */
	color: #E2E4E9;
	font-size: 40px;
}

#ikon1 { /* First icon used */
	height: 300px;
	float: right;
	margin-top: -50px;
	margin-bottom: 10px;
	margin-left: 50px;
	margin-right: 50px;
}

#ikon4 { /* Fourt icon used */
	height: 350px;
	float: right;
	margin-left: 50px;
}

#ikon5 { /* Fifth icon used */
	width: 50%;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

#sources h2 { /* Headers files above sources on problem page */
	font-size: 1.6em;
}

#sources p { /* Sources on problem page */
	font-size: 16px;
}


@media screen and (max-width: 1100px) { /* Adjustment for browsers with width smaller than 1100 pixels */
	#frontpage-picture #wrapper {
		left: 0;
		top: 0;
		padding: 20px 0px 20px 0px;
		width: 100vw;
		position: relative;
	}

	#frontpage-picture #wrapper p {
		margin-right: 30px;
		margin-left: 30px;
	}

	#frontpage-picture {
		width: 100%;
	}

	#frontpage-picture img {
		width: 1100px;
		margin: 0;
	}


	#innerContainer {
		width: 400px;
		margin: auto;
	}

	.problems {
		margin-right: 0;
		margin-bottom: 60px;
		float: none;
		width: 400px;
		margin: 0;
	}

	.problems:last-child {
		margin-bottom: 0;
	}
}

@media screen and (max-width: 650px), (max-height: 400px) { /* Adjustment for browsers with width smaller than 650 pixels or height less than 400 px */
	nav {
		position: relative;
	}

	nav li, .flags {
		float: none;
	}

	nav a {
		padding: 10px
	}

	.flags img {
		height: 20px;
		width: 37px;
	}

	.flags a {
		padding: 9px;
		padding-left: 10px;
	}

	#frontpage-picture #wrapper {
		left: 0;
		top: 0;
		width: 100vw;
		position: relative;
	}


}

@media screen and (max-width: 460px) { /* Adjustment for browsers with width smaller than 460 pixels */
	nav {
		width: 460px;
	}

	#frontpage-picture {
		width: 460px;
	}

	#frontpage-picture #wrapper {
		width: 460px;
	}

	#frontpage-picture img {
		width: 460px;
	}

	.container {
		width: 380px;
	}

	.container-white {
		width: 460px;
	}

	.container-colored {
		width: 460px;
	}

	#innerContainer {
		margin: 0;
	}
}
